@import "tailwindcss";
@import "tw-animate-css";
@import "../public/legacy/table.css";
@import "../public/legacy/calculator.css";

@custom-variant dark (&:is(.dark *));

@theme {
  --breakpoint-2xl: 87.5rem; /* 1400px */
  --breakpoint-3xl: 96rem; /* 1536px */
  --breakpoint-4xl: 105rem; /* 1680px */
  --container-8xl: 90rem; /* 1440px */
  --font-arial: Arial;
  --font-inter: Inter;
}

:root {
  --primary: oklch(0.205 0 0);
  --secondary: oklch(0.97 0 0);
  --text: #1e1e1e;
  --muted: oklch(0.97 0 0);
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  /* BRAND COLORS */
  --primary: #e4572e; /* Heating orange-red */
  --primary-dark: #c74f2b;
  --primary-darker: #5e2129;
  --primary-foreground: #fff; /* White text on primary */
  --secondary: #232f34; /* Industrial blue-gray */
  --secondary-foreground: #fff; /* White text on secondary */
  --accent: #ffd166; /* Warm yellow accent */
  --background: #f5f5f5; /* Light background */
  --accent-background: #ededed;
  --foreground: #1e1e1e; /* Main text */
  --accent-foreground: #232f34; /* Dark text on accent */
  --muted: #6b7280; /* Muted text */
  --muted-foreground: #f5f5f5; /* Muted on dark */
  --border: #e5e7eb; /* Border */

  /* GENERAL PAGE COLORS */
  --secondary-text: #5a769a;
  --example: #6a2d2d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent-background: var(--accent-background);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-primary-darker: var(--primary-darker);
  --color-secondary-text: var(--secondary-text);
  --color-example: var(--example);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@media (prefers-color-scheme: light) {
  :root {
  }
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-black;
  }
}

.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.no-spinner {
  -moz-appearance: textfield;
}

@utility no-spinner {
  &,
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield;
  }
}

/* Стилизация непосредственно таблицы (начало) */
table {
  border-collapse: collapse;

  font-size: 10pt;
  text-align: center;
}
table,
td,
th {
  border: 1px solid #723910;
}
th {
  font-weight: normal;
  font-size: 10pt;
  line-height: 18px;
}
.first-two-cols {
  padding-left: 5px;
  text-align: left;
}
/* Стилизация непосредственно таблицы (конец) */

/* Таблицы для АО+ вода и АО+ пар (начало) */
.water-and-steam th {
  font-size: 10pt;
  font-weight: 700;
}
.water-and-steam .small-cols th {
  width: 50px;
}
.water-and-steam .small-cols .kal {
  width: 100px;
}

.water-and-steam-inner {
  font-size: 11pt;
  background-color: transparent;
}
.water-and-steam-inner .small-cols {
  font-weight: 400;
  font-size: 11pt;
}
.water-and-steam-inner .dy {
  font-size: 14px;
  width: 90px;
}
.water-and-steam-inner .mass {
  width: 160px;
}
.water-and-steam-inner .kal2 {
  font-weight: 400;
  font-size: 11pt;
}

.table-legend {
  font-family: "Times New Roman", serif;
}
/* Таблицы для АО+ вода и АО+ пар (конец) */

/* NAV MENU BUTTONS (START) */

.btn-flip {
  display: block;
  opacity: 1;
  outline: 0;
  color: #fff;
  font-size: 15px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}
@media (width < 80rem) {
  .btn-flip {
    font-size: 14px;
  }
}
.btn-flip:hover:after {
  opacity: 1;
  transform: translateY(0) rotateX(0);
}
.btn-flip:hover:before {
  opacity: 0;
  transform: translateY(50%) rotateX(90deg);
}
.btn-flip:after {
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: block;
  transition: 0.5s;
  position: absolute;
  background: #d1d1d1;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.95);
  color: #8f6063;
  text-shadow: -1px -1px 0 #b3b3b3;
  content: attr(data-back);
  transform: translateY(-50%) rotateX(90deg);
}
.btn-flip:before {
  top: 0;
  left: 0;
  opacity: 1;
  color: var(--primary-darker);
  display: block;
  padding: 0 10px;
  transition: 0.5s;
  position: relative;
  background: #e3e3e3;
  border: 1px solid #a5a5a5;
  box-shadow:
    0px 1px 0 #bdbdbd,
    2px 4px 6px #dbdbdb;
  content: attr(data-front);
  transform: translateY(0) rotateX(0);
}
@media (width >= 64rem /* 1024px */) and (width < 80rem /* 1280px */) {
  .btn-flip::before {
    padding-top: 2px;
    padding-bottom: 2px;
  }
}

.btn-flip-p::after {
  padding-top: 12px;
  padding-bottom: 12px;
}
.btn-flip-p::before {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
}

@media (min-width: 1740px) {
  .btn-flip:before {
    padding: 0 20px;
  }
  .btn-flip-p::after {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .btn-flip-p::before {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
/* NAV MENU BUTTONS (END) */

.btn-3 {
  background: #e3e3e3;
  border: 1px solid #cccccc;
  box-shadow:
    0px 1px 0 #bdbdbd,
    2px 4px 6px #dbdbdb;
  transition: all 150ms linear;
  text-transform: uppercase;
}

.btn-3:hover {
  background: #d1d1d1;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.95);
  color: #8f6063;
  text-shadow: -1px -1px 0 #b3b3b3;
  transition: all 250ms linear;
}

/* KONTAKTY-PRAJS BUTTON */

.button {
  display: inline-flex;
  padding: 12px 20px;
  border: 1.5px solid var(--primary-darker);
  color: var(--primary-darker);
  text-transform: uppercase;
  font-size: 0.9em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#button-7 {
  position: relative;
  cursor: pointer;
}

#button-7 span {
  position: relative;
  left: 0;
  transition: all 0.35s ease-Out;
}

#dub-arrow {
  width: 100%;
  height: 100%;
  background: var(--accent);
  left: -100%;
  position: absolute;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.35s ease-Out;
  bottom: 0;
}

#button-7:hover #dub-arrow {
  left: 0;
}

#button-7:hover span {
  left: 100%;
}
