/* Калькуляторы (начало) */
.legacy-html.legacy-calculator .calculator {
  padding-top: 8px;
  padding-bottom: 3px;
  padding-right: 11px;
  border: 1px solid rgb(180, 180, 180);

  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
  line-height: 18px;
}

.legacy-html.legacy-calculator label,
.legacy-html .calculator-buttons {
  display: block;

  margin-bottom: 5px;
}
.legacy-html.legacy-calculator input {
  font: inherit;
}
.legacy-html.legacy-calculator select {
  margin-bottom: 15px;
}
.legacy-html.legacy-calculator input[type="text"] {
  box-sizing: border-box;

  padding: 5px;
  border: 1px solid rgb(114, 57, 16);
  border-radius: 4px;
  outline: none;

  background-color: rgb(176, 196, 222);
}
.legacy-html .calculator-buttons input[type="button"],
.legacy-html .calculator-buttons input[type="reset"] {
  box-sizing: content-box;

  padding: 5px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 2px;

  background-color: rgb(217, 217, 217);

  cursor: pointer;
}
/* Калькуляторы (конец) */

/* Сложные калькуляторы (начало) */
.legacy-html :disabled {
  color: rgb(50, 50, 50);
}
.legacy-html #calorifer {
  margin-left: 4px;
  padding-left: 0;
  padding-right: 0;
}
.legacy-html .advanced-calculator input,
.legacy-html .advanced-calculator select {
  box-sizing: border-box;

  padding: 5px;
  border: 1px solid rgb(114, 57, 16);
  border-radius: 4px;
  outline: none;

  background-color: rgb(217, 217, 217);

  font: inherit;
}
.legacy-html .advanced-calculator input[type="range"] {
  overflow: hidden;
  width: 180px;
  padding: 0;
  margin-left: 5px;
  -webkit-appearance: none;
  background-color: rgb(192, 192, 192);
  outline: none;
}
.legacy-html .advanced-calculator input[type="radio"] {
  display: initial;
}
.legacy-html input[type="range"]::-webkit-slider-thumb {
  width: 10px;
  -webkit-appearance: none;
  height: 15px;
  background: #434343;
  box-shadow: -89px 0 0 80px rgb(176, 196, 222);
}
.legacy-html .numbers_input {
  margin-bottom: 10px;
}
.legacy-html .results input {
  width: 100px;
}
.legacy-html .numbers_input input[type="number"] {
  background-color: rgb(176, 196, 222);
}
.legacy-html .results span {
  font-weight: 600;
}
.legacy-html input::-webkit-outer-spin-button,
.legacy-html input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.legacy-html .unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 6px;
  margin-top: 6px;
}
/* Сложные калькуляторы (конец) */

.legacy-html.legacy-calculator input.bg-transparent {
  background: transparent;
}

.legacy-html .steam-pressure {
  width: 60px;
  height: 30px;
  border-radius: 4px;
  font-size: 16px;
  padding: 2px;
  padding-left: 4px;
  /* background-color: rgb(176, 196, 222); */
  background-color: #e4e1d6;
}

.legacy-html .steam-pressure:focus {
  outline: none;
}

.legacy-html.legacy-calculator input.has-value {
  background-color: #ffeb9a;
}

.legacy-html.legacy-calculator input.out-of-range {
  border-color: #c00;
  background: rgba(255, 0, 0, 0.04);
  color: #700;
}
