/* Скрытие всех таблиц, кроме выбранной (начало) */
.legacy-html #secondary div,
.legacy-html #secondary2 div,
.legacy-html #secondary3 div,
.legacy-html #secondary4 div {
  display: none;
}
/* Скрытие всех таблиц, кроме выбранной (конец) */

/* Скрытие кружков от радио-инпутов (начало) */
.legacy-html.legacy-table input[type="radio"] {
  display: none;
}
/* Скрытие кружков от радио-инпутов (конец) */

/* Стилизация кнопок переключения таблиц */

/* Обёртка для кнопок (начало) */
.table-buttons-wrap {
  display: flex;
}
/* Обёртка для кнопок (конец) */
/* Внешний вид кнопок переключения таблиц (начало) */
.legacy-html .btn {
  position: relative;

  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 7px;
  padding-left: 10px;
  border: 1px solid black;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-right: none;

  color: rgba(0, 32, 96, 1);
  font-size: 11pt;
  font-weight: 700;

  cursor: pointer;

  white-space: nowrap;

  background-color: rgb(204, 204, 204);
}
/* Внешний вид кнопок переключения таблиц (конец) */

/* Правая граница для последней кнопки (начало) */
.legacy-html .btn:last-child {
  border-right: 1px solid black;
}
/* Правая граница для последней кнопки (конец) */

/* Поведение кнопок для переключения таблиц (начало) */
.legacy-html #table_btn1:checked ~ .btn1,
.legacy-html #table_btn2:checked ~ .btn2,
.legacy-html #table_btn3:checked ~ .btn3,
.legacy-html #table_btn4:checked ~ .btn4,
.legacy-html #table_btn5:checked ~ .btn5,
.legacy-html #table_btn6:checked ~ .btn6,
.legacy-html #table_btn7:checked ~ .btn7,
.legacy-html #table_btn8:checked ~ .btn8,
.legacy-html #table_btn11:checked ~ .btn1,
.legacy-html #table_btn22:checked ~ .btn2,
.legacy-html #table_btn33:checked ~ .btn3,
.legacy-html #table_btn44:checked ~ .btn4,
.legacy-html #table_btn55:checked ~ .btn5,
.legacy-html #table_btn66:checked ~ .btn6,
.legacy-html #table_btn77:checked ~ .btn7,
.legacy-html #table_btn88:checked ~ .btn8,
.legacy-html #table_btn99:checked ~ .btn9,
.legacy-html #table_btn100:checked ~ .btn100,
.legacy-html #table_btn111:checked ~ .btn111,
.legacy-html #table_btn222:checked ~ .btn222,
.legacy-html #table_btn333:checked ~ .btn333,
.legacy-html #table_btn444:checked ~ .btn444,
.legacy-html #table_btn555:checked ~ .btn555,
.legacy-html #table_btn666:checked ~ .btn666 {
  color: #e4572e;
  background-color: #f3f4f6;
  border-bottom: 2px solid #f3f4f6;
}
/* Поведение кнопок для переключения таблиц (конец) */

/* Стилизация непосредственно таблицы (начало) */
.legacy-html.legacy-table table {
  width: 100%;
  border-collapse: collapse;

  font-size: 10.3pt;
  text-align: center;
}
.legacy-html.legacy-table table,
.legacy-html.legacy-table td,
.legacy-html.legacy-table th {
  border: 1px solid #723910;
}
.legacy-html.legacy-table th {
  font-weight: normal;
  font-size: 9pt;
  line-height: 18px;
}
/* Стилизация непосредственно таблицы (конец) */

/* Таблицы для АО+ вода и АО+ пар (начало) */
.legacy-html .water-and-steam th {
  font-size: 10pt;
  font-weight: 700;
}
.legacy-html .water-and-steam .small-cols th {
  width: 50px;
}
.legacy-html .water-and-steam .small-cols .kal {
  width: 100px;
}

.legacy-html .water-and-steam-inner {
  font-size: 11pt;
  background-color: transparent;
}
.legacy-html .water-and-steam-inner .small-cols {
  font-weight: 400;
  font-size: 11pt;
}
.legacy-html .water-and-steam-inner .dy {
  font-size: 14px;
  width: 90px;
}
.legacy-html .water-and-steam-inner .mass {
  width: 160px;
}
.legacy-html .water-and-steam-inner .kal2 {
  font-weight: 400;
  font-size: 11pt;
}

.legacy-html .table-legend {
  font-family: "Times New Roman", serif;
}
/* Таблицы для АО+ вода и АО+ пар (конец) */

.legacy-html .table-wrap {
  padding: 10px 12px;
  margin-bottom: 5px;
  margin-top: -1px;
  border: 1px solid black;

  overflow: auto;
}

.legacy-html .ksk-table tr:nth-child(3) td:nth-child(n + 2),
.legacy-html .kpsk-table tr:nth-child(4) td:nth-child(n + 2),
.legacy-html .avo-hl-kp tr:nth-child(5) td:nth-child(n + 2) {
  width: 42px;
}

.legacy-html .table-wrap td:first-child {
  padding: 3px 0 3px 3px;
  text-align: left;
  font-size: 11pt;
  line-height: 18px;
}

.legacy-html .table-with-bold-cells tr:nth-child(2) td:nth-child(n + 2),
.legacy-html .table-with-bold-cells tr:first-child td:nth-child(2),
.legacy-html .table-with-bold-cells tr:nth-child(3) td:nth-child(n + 2),
.legacy-html .kpsk-table tr:nth-child(4) td:nth-child(n + 2),
.legacy-html .avo-hl-kp tr:nth-child(5) td:nth-child(n + 2) {
  font-weight: 700;
}

/* Стилизация таблиц, которым требуется скролл (начало) */
/* .table-with-scroll {
  min-width: 948px;
  overflow: hidden;
}

@media (min-width: 900px) {
  .table-with-scroll {
    min-width: auto;
  }
} */

.legacy-html #primary.table-with-scroll,
.legacy-html #primary2.table-with-scroll,
.legacy-html #primary3.table-with-scroll,
.legacy-html #primary4.table-with-scroll {
  overflow-x: auto;
}
.legacy-html #primary.tabs-fix,
.legacy-html #primary2.tabs-fix {
  /* margin-top: 16px; */
}
.legacy-html #primary.table-with-scroll::-webkit-scrollbar,
.legacy-html #primary2.table-with-scroll::-webkit-scrollbar,
.legacy-html #primary3.table-with-scroll::-webkit-scrollbar,
.legacy-html #primary4.table-with-scroll::-webkit-scrollbar {
  display: none;
}
.legacy-html .table-wrap.table2.table-with-scroll {
  margin-top: -4px;
}
/* Стилизация таблиц, которым требуется скролл (конец) */

.legacy-html .gray-col {
  background-color: #e5e7eb;
}

.legacy-html .coolant-graph {
  background-color: rgb(204, 204, 204);
  color: #b04322;
  font-weight: bold;
}

.legacy-html .model {
  width: 160px;
}

.legacy-html .po_teplu {
  width: 65px;
}
